* {
    padding: 0;
    margin: 0;
}


/* grid */

.container {
    display: grid;
    grid-template-areas:
        "nav"
        "filtros"
        "main"
        "footer"
    ;
    grid-template-rows: 1fr 1fr 10fr 1fr;
}

/* grid-areas */


/* nav-section */

.nav-section {
    grid-area: nav;
    background-color: cornflowerblue;
    color: white;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}

.nav-section .box {
    display: flex;

}

.nav-section .logo,
.menu {
    width: 30px;
}



/* filters */

.seccion {
    grid-area: filtros;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.seccion select {
    width: 280px;
    height: 35px;
    padding-left: 5px;
}



/* main-section */

.main-section {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.main-section .card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 10px;
}

.main-section .card-container .card {
    text-align: center;
    border: solid 1px;
    padding: 10px;
    margin: 10px;

}

.main-section .card button {
    background-color: dodgerblue;
    color: white;
    padding: 5px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 75%;

}

.main-section .card button:hover {
    background-color: blue;
}


.main-section .card img {
    width: 300px;
}

.main-section .navigation {
    display: flex;
}

.main-section .navigation button {
    width: 30px;
    height: 30px;
    color: cornflowerblue;

}


/* footer-section */

.foot-section {
    grid-area: footer;
    background-color: cornflowerblue;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot-section .logos {
    width: 30px;
    display: flex;
}

/* desk-media */

@media(max-width: 576px) {
    .nav-section ul {
        display: none;
    }
}

@media (min-width: 576px) {


    .container {
        grid-template-areas:
            "nav filtros"
            "nav main"
            "footer main"
        ;
        grid-template-columns: 150px 1fr;
        grid-template-rows: 60px 1fr 60px;
    }

    .main-section .card-container {
        flex-direction: row;
        flex-wrap: wrap;


    }

    .nav-section .menu {
        visibility: hidden;
    }

    .nav-section ul {
        list-style: none;
    }

    .nav-section {
        flex-direction: column;
        justify-content: start;
        gap: 35px;
        padding: 15px;
    }

    .nav-section .box {
        flex-direction: column;
        align-items: center;

    }



}