*{
    padding: 0;
    margin: 0;
}


/* grid */

.container{
    display: grid;
    grid-template-areas: 
    "nav"
    "filtros"
    "main"
    "footer"
    ;
    grid-template-rows: 1fr 1fr 10fr 1fr;
}

/* grid-areas */

.nav-section{
    grid-area: nav;
    background-color: darkcyan;
}

.nav-section .logo{
    
}

.seccion{
    grid-area: filtros;
    background-color: gainsboro;
}

.main-section{
    grid-area: main;
}

.footer-section{
    grid-area: footer;
    background-color: cornflowerblue;
}


@media (min-width: 576px){
    

    .container{
        grid-template-areas: 
        "nav filtros"
        "nav main"
        "footer main";
        grid-template-columns: 150px 1fr;
        
    }

    .main-section .cards-container{
        flex-direction: row;
        flex-wrap: wrap;
    }

}